{% extends 'base.html' %}

{% block content %}
    <div>
        {{habit.habit_name}} Goal: {{ habit.goal_amount }} {{ habit.unit }} a Day
    </div>
    <a href="{% url 'add_record' pk=habit.pk %}">Add New Record</a>
        <div>Log:</div>
        {% for record in records %}
            <div>{{ record.date }}: {{ record.amount_completed }} {{ habit.unit }}</div>
            <a href="{% url 'edit_record' pk1=habit.pk pk2=record.pk %}">Edit</a>
            <a href="{% url 'delete_record' pk1=habit.pk pk2=record.pk %}">Delete</a>
        {% endfor %}
        <div>
            <a href="{% url 'list_habits' %}">Back</a>
        </div>
{% endblock %}